body {
  display: grid;
  grid-template-columns: 10rem auto;
}

/* Navigation */
header#sidebar {
  background: var(--purple);
  color: var(--white);
  height: 100vh;
  padding: .5rem 1rem;
  display: flex;
  flex-flow: column nowrap;
}

header#sidebar h1 {
  margin: 0;
}

header#sidebar nav {
  margin-top: 2rem;
}

header#sidebar nav ul {
  list-style: none;
  padding: 0;
}

header#sidebar nav li > ul {
  display: none;
}

header#sidebar nav li > ul.open {
  display: block;
}

header#sidebar .logout-button {
  background: var(--purple-light);
  color: var(--purple);
}

header#sidebar a {
  color: var(--white-orange);
}

/* Content */
h1 {
  margin-top: 0;
}