/* body */
#app .administration {
  display: grid;
  grid-template-columns: 10rem auto;
  padding: 1rem;
}

/* Navigation */
header#sidebar {
  background: var(--purple);
  color: var(--white);
  height: 100vh;
  padding: .5rem 1rem;
  display: flex;
  flex-flow: column nowrap;
}

header#sidebar h1 {
  margin: 0;
}

header#sidebar nav {
  margin-top: 2rem;
}

header#sidebar nav ul {
  list-style: none;
  padding: 0;
}

header#sidebar nav li > ul {
  display: none;
}

header#sidebar nav li > ul.open {
  display: block;
}

header#sidebar .logout-button {
  background: var(--purple-light);
  color: var(--purple);
}

header#sidebar a {
  color: var(--white-orange);
}

/* Content */
main {
  padding: 0 1rem 1rem;
}

main h1 {
  margin: 0 0 .5rem;
  font-size: 2rem;
}

main table {
  font-size: .9rem;
}

main table thead {
  font-weight: 700
}

main table tr {
  border-bottom: 1px solid var(--grey);
}

main table tr:nth-child(2n) {
  background: var(--white-orange);
}

main table tbody td {
  padding: 1rem .5rem 0;
}

main table td.name {
  width: 33%;
}