:root {
	--orange: #FF7617;
	--purple: #4b0054;
	--purple-disabled: #cea3d4;
	--white: rgb(253, 253, 253);
	--white-orange: rgb(255, 242, 227);
	--black: rgb(14, 14, 14);
	--yellow: rgb(246, 255, 0);
	--grey: rgb(165, 165, 165);
}