<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>First run</title>
  <link href="../../static/css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="app">
    <div class="wizard">
      <div class="dialog">
        <div class="step step-2">
          <label for="page-name">Admin username:</label>
          <input id="page-name" v-model="value.user.adminUsername" />
          <label for="page-subtitle">Admin password:</label>
          <input id="page-subtitle" v-model="value.user.adminPassword" type="password" />
          <label for="page-name">Display name:</label>
          <input id="page-name" v-model="value.user.adminName" />
          <label for="page-name">Admin email:</label>
          <input id="page-name" v-model="value.user.adminEmail" />
        </div>
        <div class="button-holder__left">
          <button>Previous</button>
        </div>
        <div class="button-holder__right">
          <button>Next</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>